
/* -------------------------------- Reset -----------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
outline: 0;
}
body {
line-height: 1;
color: black;
background: white;
}
ol, ul {
list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
border-collapse: separate;
border-spacing: 0;
}
caption, th, td {
text-align: left;
font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: "";
}
blockquote, q {
quotes: "" "";
}

/* clearfix */

/* the fuck height 1% ? ça fait bug le li en seemore*/
/*.clearfix {height:1%} */

.clearfix:after {

	content:".";

	height:0;

	line-height:0;

	display:block;

	visibility:hidden;

	clear:both;

}

header, footer, section, article, nav {
	display: block; 
}

/* ---------------------------------- STYLES -----------------------------------*/

.more {
	display:none;
}

/* couleur de selection */

*::selection {
	background: #ffba00;
	color:#FFF;
}

*::-moz-selection {
	background: #ffba00;
	color:#FFF;
}

*::-webkit-selection {
	background: #ffba00;
	color:#FFF;
}

/* -------------------------------- MISE EN PAGE -----------------------------------*/

html, body {
	width: 100%;
	overflow: hidden;
}


body {
	background: repeat url(../images/pattern-app.png)  #191919;
	font-family: 'Droid Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}

#page {
	width: 810px;
	margin: 0 auto;
	font-size: 12px;
	color: #ffffff;
	line-height: 15px;
}

#page.display_tuto {
	overflow: hidden;
	height: 730px;
}

.share {
	text-align: center;
}

.share div {
	position: relative;
	width: 150px;
	line-height: 30px;
	color: white;
	border-radius: 2px;
	box-shadow: 0px 1px 0px #000;
	margin-bottom: 10px;
	font-family: 'Droid Sans', sans-serif;
	font-weight: 700;
	font-size: 11px;
	text-transform: uppercase;
	text-align: center;
	text-indent: 20px;
	display: inline-block;
}
.share .fb {
	background: #394990;
	margin-right: 6px;
}

.share .fb::before,
.share .tw::before {
	position: absolute;
	left: 10px;
	top: 4px;
	vertical-align: middle;
	margin-right: 10px;
	content:'';
	width: 22px;
	height: 22px;
	background-image: url(../images/fb.png);
	background-repeat: no-repeat;
}

.share .tw::before {
	width: 22px;
	height: 19px;
	top: 6px;
	background-image: url(../images/tw.png);
}

.share .tw {
	background: #00a8f6;
}
.share a {
	display: block;
}

a {
	color: #fff;
	text-decoration: none;
}
strong {
	font-weight: bold;
}

/* -------------------------------- TUTORIEL -----------------------------------*/

#tuto {
	width: 810px;
	height: 100%;
	margin: 0 auto;
	z-index: 100;
	background: repeat url('../images/bg_tuto.png') #191919;
}

#tuto.intro {
	top: 0;
}

#tuto.help {
	top: 60px;
}

#tuto #content_tuto {
	position: absolute;
	top: 0;
}

#tuto.intro #light_header_tuto {
	width: 810px;
	height: 400px;
	margin: 0 auto;
	background: repeat-x url('../images/light_header_tuto.jpg');
}

#tuto.intro #curtain_tuto {
	position: absolute;
	z-index: 500;
	top: 0;
	right: 0;
	width: 55px;
	height: 637px;
	background: no-repeat url('../images/curtain_tuto.png');
}

#tuto.intro #shadow_curtain {
	position: absolute;
	z-index: 300;
	top: 0;
	right: 0;
	width: 85px;
	height: 637px;
	background: no-repeat url('../images/shadow_curtain.png'); 
}

#tuto.intro #content_tuto #block_logo_tuto {
	width: 810px;
	padding: 39px 0 52px;
}

#tuto.help #content_tuto #block_logo_tuto {
	display: none;
}

#tuto.intro #content_tuto #block_logo_tuto p {
	position: relative;
	text-indent: -9999px;
	width: 157px;
	height: 55px;
	margin: 0 auto;
	background: repeat-x url('../images/logo_tuto.png');
}

#tuto.intro #content_tuto #block_logo_tuto p:before {
	position: absolute;
	top: 31px;
	right: 151px;
	content: "";
	width: 290px;
	height: 0px;
	border-top: 1px solid #111111;
	border-bottom: 1px solid #212121;
}

#tuto.intro #content_tuto #block_logo_tuto p:after {
	position: absolute;
	top: 31px;
	left: 153px;
	content: "";
	width: 313px;
	height: 0px;
	border-top: 1px solid #111111;
	border-bottom: 1px solid #212121;
}

#tuto.help #content_tuto #block_button_tuto {
	display: none;
}

#tuto.intro #content_tuto #block_button_tuto {
	width: 810px;
	margin-bottom: 25px;
}

#tuto.intro #content_tuto #block_button_tuto .desc {
	margin-left: 50px;
}

#tuto.intro #content_tuto #block_button_tuto .desc h2 {
	font-size: 16px;
	color: #eaad09;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0 0 2px rgba(0,0,0,.78);
	margin-bottom: 15px;
	line-height: 20px;
	text-align: center;
}

#tuto.intro #content_tuto #block_button_tuto .desc p {
	font-size: 13px;
	color: #ffffff;
	line-height: 16px;
	width: 400px;
	text-align: center;
	margin: 0 auto;
}

/*#tuto.intro #content_tuto #block_button_tuto a {
	position: relative;
	z-index: 400;
	float: right;
	display: block;
	margin: 20px 36px 0 0;
	padding: 10px 20px;
	line-height: 19px;
	height: 19px;
	font-size: 14px;
	font-weight: bold;
	color: #010101;
	text-shadow: 0 1px #e8af15;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 2px rgba(0,0,0,.27), inset 0 1px #efcd72;
	-moz-box-shadow: 0 2px rgba(0,0,0,.27), inset 0 1px #efcd72;
	box-shadow: 0 2px rgba(0,0,0,.27), inset 0 1px #efcd72;
	background: #f4b50b;
	background-image: -webkit-linear-gradient(top, #f4b50b, #b80);
	background-image: -moz-linear-gradient(top, #f4b50b, #b80);
	background-image: -o-linear-gradient(top, #f4b50b, #b80);
	background-image: -ms-linear-gradient(top, #f4b50b, #b80);
	background-image: linear-gradient(to bottom, #f4b50b, #b80);
}*/

#tuto.intro #content_tuto #block_help_tuto {
	display: none;
}

#tuto.help #content_tuto #block_help_tuto .desc {
	float: left;
	margin: 30px 0 27px 50px;
}

#tuto.help #content_tuto #block_help_tuto .desc h2 {
	font-size: 14px;
	color: #eaad09;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0 0 2px rgba(0,0,0,.78);
	margin-bottom: 15px;
}

#tuto.help #content_tuto #block_help_tuto .desc p {
	font-size: 13px;
	color: #ffffff;
	line-height: 16px;
	width: 400px;
}

#tuto.help #content_tuto #block_help_tuto .desc p a {
	color: #e3a708;
	text-decoration: underline;
}

#tuto.help #content_tuto #block_help_tuto a.close_tuto {
	float: right;
	display: block;
	margin: 48px 36px 0 0;
	padding: 6px 13px;
	line-height: 15px;
	font-size: 12px;
	font-weight: bold;
	color: #c3c3c3;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #232323;
	-webkit-box-shadow: 0 2px rgba(0,0,0,.27), inset 0 1px #353535;
	-moz-box-shadow: 0 2px rgba(0,0,0,.27), inset 0 1px #353535;
	box-shadow: 0 2px rgba(0,0,0,.27), inset 0 1px #353535;
}

#tuto #content_tuto #block_display_tuto {
	position: relative;
	width: 810px;
	height: 385px;
	/* height: 395px; */
}

#tuto #content_tuto #block_display_tuto .title {
	height: 91px;
	padding-top: 15px;
	margin: 0 auto;
	background: repeat-x url('../images/block_display_tuto.png');
}

#tuto #content_tuto #block_display_tuto .title h3 {
	width: 207px;
	height: 35px;
	line-height: 28px;
	margin: 0 auto;
	background: repeat-x url('../images/title_display_tuto.png');
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	color: #999;
	text-shadow: 0 0 4px rgba(0,0,0,.85);
}

#tuto #content_tuto #block_display_tuto .display {
	position: absolute;
	top: 57px;
	left: 52px;
/*	width: 711px;
	height: 318px;*/
	width: 711px;
	height: 308px;
	background: white;
}

#tuto #content_tuto #block_display_tuto .display .mask {
/*	width: 681px;
	height: 288px;*/
	margin: 15px; 
	width: 681px;
	height: 278px;
	overflow: hidden;
	background: black;
}

#tuto #content_tuto #block_display_tuto #display_bottom {
	position: absolute;
	width: 731px;
	height: 20px;
	background: no-repeat url('../images/bottom_display_tuto.png');
	bottom: 0;
	left: 43px;
}

#tuto #content_tuto #block_nav_tuto {
	margin-top: 15px;
	margin-bottom: 30px;
}

#tuto #content_tuto #block_nav_tuto ul {
	width: 645px;
	margin: 0 auto;
}

#tuto #content_tuto #block_nav_tuto ul a {
	position: relative;
	float: left;
	background: no-repeat url('../images/step_before_nav_tuto.png') center 0;
	padding-top: 41px;
	width: 150px;
	margin: 0 7px;
	display: block;
	text-decoration: none;
}

#tuto #content_tuto #block_nav_tuto ul a:after {
	position: absolute;
	top: 7px;
	left: 94px;
	content: "";
	background: #808080;
	width: 121px;
	height: 3px;
}

#tuto #content_tuto #block_nav_tuto ul a:nth-child(2):after {
	width: 128px;
}

#tuto #content_tuto #block_nav_tuto ul a:first-child,
#tuto #content_tuto #block_nav_tuto ul a:last-child {
	margin: 0;
}

#tuto #content_tuto #block_nav_tuto ul a:last-child:after {
	display: none;
}

#tuto #content_tuto #block_nav_tuto ul  a li {
	font-size: 13px;
	text-align: center;
	padding: 5px 0;
	color: #353535;
}

#tuto #content_tuto #block_nav_tuto ul a.done li {
	color: #808080;
}

#tuto #content_tuto div#block_nav_tuto ul a.current li:before {
	position: absolute;
	top: -7px;
	left: 68px;
	content: "";
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #0a0a0a;
}

#tuto #content_tuto div#block_nav_tuto ul a.current li {
	background: #0a0a0a;
	color: #d5d5d5;
	position: relative;
}

#tuto #content_tuto #block_nav_tuto ul a.next li {
	color: #353535;
}


#tuto #content_tuto #block_nav_tuto ul a.search.current {
	background: no-repeat url('../images/pin6sec.gif') center 0;
}

#tuto #content_tuto #block_nav_tuto ul a.filters.current {
	background: no-repeat url('../images/pin7sec.gif') center 0;
}

#tuto #content_tuto #block_nav_tuto ul a.fav.current {
	background: no-repeat url('../images/pin4sec.gif') center 0;
}

#tuto #content_tuto #block_nav_tuto ul a.create.current {
	background: no-repeat url('../images/pin21sec.gif') center 0;
}
